.footer.powered-by {display: none;}

#menu-toggle {
    display: none !important;
}

.bisque {
    Color: #FFE4C4
}

.coral {
    Color: #FF7F50
}

.orange {
    Color: #FF8C00
}
.brightWhite {
    Color: #F8F8FF
}

.brightRed {
    Color: #FF0000
}

.lawnGreen {
    Color: #b9fc00
}

.gold {
    Color: #FFD700
}